
@using (Html.BeginForm("Upload",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Upload Image" />
    <br><br>
    @ViewBag.Message
}



<script src="~/Scripts/jquery.fineuploader.js"></script>
<script src="~/Scripts/home.js"></script>