<div id="welcomeDiv" class="text-center">Welcome to The:</div>
<div id="titletool" class="text-center">CPP Check Tool</div>
<div style="overflow:auto">
    <div style="float:left"><img src="~/Content/Images/cppcheck.png" /></div>
    <div style="float:right"><img src="~/Content/Images/sampleOutput.png" /></div>
</div>
<div id="greetingslogIn">
    <span>Please <a href="/Account/Login">Log in</a> to use this amazing tool.</span>
</div>